.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
}

.navbar {
  margin: 1em;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navbar {
  transform: translateY(-2px);
}

.navbar {
  border-right: 3px solid #29b6f6;
  border-left: 3px solid #29b6f6;
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}

.App {
  background-color: grey;
  text-align: center;
}

.App-link {
  color: #61dafb;
}



